body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/*Barra de navegación: no se aplica css*/

main{
    background-color: black;
    color: #FFFFFF;
}
/*Carrusel: no se aplica css*/

/*Sección quiénes somos*/
.about-us{
    margin-top: 40px;
    margin-bottom: 40px;
}
.subtitle{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.article-img{
    background-color: #0DCAF0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article-img i{
    color: #FFFFFF;
}
.article-p{
    color: #FFFFFF;
    font-size: 16px;
    text-align: justify;
}
@media screen and (max-width: 768px) {
    .display {
        display: none;
    }
}

/*Sección destacados*/
.card{
    background-color: black;
}
.card-body{
    background-color: #0DCAF0;
}

/*Sección contacto*/
.contact{
    margin-top: 40px;
    padding: 20px;
    }
.form-label{
    color: #FFFFFF;
    font-size: 20px;
}
.btn-send{
   background-color: #0DCAF0;
   color: #FFFFFF;
}

/*Footer*/
.footer{
    height: 80px;
    background-color: #0DCAF0;
    color: #FFFFFF;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-black{
    background-color:#0DCAF0;
    opacity: 0.8;
}
.nav-black a{
    color: black;
}